server:
  port: 8888

spring:
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT-8
  datasource:
    primary:
      jdbc-url: jdbc:mysql://localhost:3306/supermall?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: m123
      driver-class-name: com.mysql.cj.jdbc.Driver
    secondary:
      jdbc-url: jdbc:mysql://localhost:3306/supermall2?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: m123
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
