<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>thymeleaf简单示例</title>
</head>
<body>
<h1>Hello Thymeleaf</h1>

<table class="">
    <tr>
        <td>下标</td>
        <td>序号</td>
        <td>作者</td>
        <td>教程名称</td>
        <td>内容</td>
        <td>日期</td>
    </tr>
    <div th:if="${articles!=null}">
        <div>的确存在</div>
        <tr th:each="item,stat : ${articles}" th:style="${stat.odd?'background-color:pink':'background-color:red'}">
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${item.author}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${#strings.capitalizeWords(item.content)}"></td>
            <td th:text="${item.createTime}"></td>
            <!-- 格式化失败<td th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>-->
        </tr>
    </div>
</table>

<section>第二段</section>
<form id="userForm">
    <input type="text" id="id" name="id" th:value="${user.id}" />
    <input type="text" id="username" name="name" th:value="${user.username}">
    <input type="text" id="password" name="password" th:value="${user.password}">
</form>

<div th:text="${articles[0].author}"></div>

<div th:text="${'I am '+(user.username !=null ? user.username : 'Nobody')}"></div>

<section>第三段</section>
<div th:text="${#locale.getLanguage()+'_'+#locale.getCountry()}"></div>

<div th:text="${session.foo}?:('zoo')"></div>
<div th:text="${session.size()}"></div>
<div th:text="${session.isEmpty()}"></div>
<div th:text="${session.containsKey('foo')}"></div>

<section>第四段：片段 fragment</section>
<div th:replace="~{common/form::userForm(${user})}"></div>
<div th:insert="~{common/form::userForm(${user})}"></div>
<!--不支持<div th:inline="~{common/form::userForm(${user})}"></div>-->

<!--内联语法-->
<script th:inline="javascript">
    const user = [[${user}]];
    const APP_PATH = [[${#request.getContextPath()}]];
    const LANG_COUNTRY = [[${#locale.getLanguage()+"_"+#locale.getCountry()}]];

    console.log(user.password);
    console.log(APP_PATH);
    console.log(LANG_COUNTRY);

</script>

<img th:src="@{/image/template.png}">
</body>
</html>